body {

}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
}

#banner {
		width: 100%;
}

.principal {
	background: #cccccc;
	padding: 30px;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

h2 {
	text-align: center;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.itens {
	font-style: italic;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;	
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%
}